
<form class="" action="/zprava/pridat/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Titulek -->
    {% if form.titulek.errors %}
    <ul>
        {% for error in form.titulek.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="text" name="titulek" value="{{ form.titulek.value }}">

    <!-- Obsah -->
    <textarea name="obsah">{{ form.obsah.value }}</textarea>

    <!-- Obrázek -->
    {% if form.obrazek.errors %}
    <ul>
        {% for error in form.obrazek.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="file" name="obrazek">

    <!-- Hlavní -->
    {% if form.hlavni.errors %}
    <ul>
        {% for error in form.hlavni.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <label>Zařadit mezi hlavní zprávy</label>
    <input type="checkbox" name="hlavni" value="1">

    <input type="submit" name="" value="Odeslat">

</form>
